[Unit]
Description=OpenVPN Autorun Service
Requires=network-online.service
After=network-online.service hibernate.target sleep.target

[Service]
Type=forking
ExecStart=/usr/sbin/openvpn --daemon --config /storage/.config/openvpn.config
Restart=no

[Install]
WantedBy=kodi.target
