<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="32000">
		<setting label="32001" type="lsep"/>
        <setting label="32002" type="text" visible="eq(1,true)" enable="false" default=""/>
        <setting label=""      type="text" id="vpn_provider_update" visible="false" enable="false" default=""/>
        <setting label="32003" type="action" visible="!eq(1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/resetVPN.py, reset)"/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" visible="false" enable="false" default=""/>
		<setting label="32004" type="labelenum" id="vpn_provider" enable="eq(-1,)" lvalues="32201|32202|32203|32204|32205|32206|32207|32208|32209|32210|32211|32212|32213|32214|32215|32216|32217|32218|32219|32220|32221|32222|32223|32224|32225|32226|32227|32228|32229|32230|32231|32232|32233|32234|32235|32236|32237|32238"/>
        <setting label=""      type='lsep'/>
        <setting label=""      type="text" id="vpn_username_validated" visible="false" enable="false" default=""/>
		<setting label="32005" type="text" id="vpn_username" enable="eq(-4,)" default=""/>
        <setting label=""      type="text" id="vpn_password_validated" visible="false" enable="false" default=""/>
		<setting label="32006" type="text" id="vpn_password" enable="eq(-6,)" visible="!eq(2,true)" option="hidden"  default=""/>
        <setting label="32006" type="text" id="vpn_password" enable="eq(-7,)" visible="eq(1,true)" default=""/>
        <setting label="32007" type="bool" id="vpn_password_display" visible="true" enable="true" default="false"/>        
        <setting label=""      type='lsep'/>
        <setting label="32008" type='lsep'/>
        <setting label="32009" type="labelenum" id="vpn_protocol" lvalues="32010|32011|32012"/>
        <setting label="32013" type="bool" id="default_udp" enable="eq(-12,)" default="true"/>
        <setting label="32014" type="number" id="alternative_udp_port" enable="eq(-13,)" visible="!eq(-1,true)" default="1194"/>
        <setting label="32015" type="bool" id="default_tcp" enable="eq(-14,)" default="true"/>
        <setting label="32016" type="number" id="alternative_tcp_port" enable="eq(-15,)" visible="!eq(-1,true)" default="443"/>
        <setting label=""      type='lsep'/>
        <setting label="32017" type='lsep'/>   
        <setting label="32018" type="action" enable="eq(-18,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/import.py)"/>
        <setting label="32019" type="action" action="RunScript(special://home/addons/service.vpn.manager/logpopup.py, import)"/>
        <setting label="32020" type="bool" id="user_def_credentials" enable="eq(-20,)" default="true"/>        
        <setting label="32021" type="labelenum" id="user_def_keys" enable="eq(-21,)" lvalues="32022|32023|32024"/>
        <setting label="32025" type="bool" id="user_def_key_password" enable="eq(-22,)" default="true"/>
    </category>
    <category label="32028">
		<setting label="32029" type='lsep'/>
        <setting label="32030" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 1)"/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32031" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 2)"/>
        <setting label=""      type="text" id="2_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32032" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 3)"/>
        <setting label=""      type="text" id="3_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32033" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 4)"/>
        <setting label=""      type="text" id="4_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32034" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 5)"/>
        <setting label=""      type="text" id="5_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32035" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 6)"/>
        <setting label=""      type="text" id="6_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32036" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 7)"/>
        <setting label=""      type="text" id="7_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32037" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 8)"/>
        <setting label=""      type="text" id="8_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>        
        <setting label="32038" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 9)"/>
        <setting label=""      type="text" id="9_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32039" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 10)"/>
        <setting label=""      type="text" id="10_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>        
        </category>
	<category label="32040">        
        <setting label="32041" type="lsep"/>	        
		<setting label="32042" type="bool" id="vpn_connect_at_boot" default="true"/>
        <setting label=""      type="bool" id="show_preboot_connect" visible="false" enable="false" default="false"/>
        <setting label="32043" type="bool" id="vpn_connect_before_boot" visible="eq(-1,true)+eq(-2,true)" default="false"/>
        <setting label="32044" type="slider" id="vpn_connect_delay" visible="!eq(-1,true)" default="0" range="0,10,600" option="int" />
		<setting label="32045" type="bool" id="vpn_reconnect" default="true"/>
        <setting label="32046" type="bool" id="vpn_reconnect_while_playing" default="true"/>
        <setting label="32047" type="slider" id="vpn_reconnect_freq" default="60" range="10,10,3600" option="int" />
        <setting label="32048" type="bool" id="vpn_reconnect_next" default="false"/>
        <setting label="32049" type="bool" id="vpn_reconnect_reboot" default="true"/>
		<setting label="32050" type="bool" id="vpn_reconnect_filtering" default="true"/>
        <setting label="32051" type="bool" id="allow_cycle_disconnect" default="false"/>
        <setting label="32052" type="bool" id="display_location_on_connect" default="false"/>
    </category>
    <category label="32060">	
        <setting label="32061" type="lsep"/>
		<setting label="32062" type="addon" id="vpn_excluded_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32063" type="lsep"/>
		<setting label="32064" type="addon" id="1_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32065" type="addon" id="2_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32066" type="addon" id="3_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32067" type="addon" id="4_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32068" type="addon" id="5_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32069" type="addon" id="6_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>        
        <setting label="32070" type="addon" id="7_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32071" type="addon" id="8_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32072" type="addon" id="9_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32073" type="addon" id="10_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
    </category>
    <category label="32080">
        <setting label="32081" type="bool" id="display_window_id" default="false"/>
        <setting label="32082" type="lsep"/>
		<setting label="32083" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 0)"/>
        <setting label=""      type="text" id="vpn_excluded_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32084" type="lsep"/>
		<setting label="32085" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 1)"/>
        <setting label=""      type="text" id="1_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32086" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 2)"/>
        <setting label=""      type="text" id="2_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32087" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 3)"/>
        <setting label=""      type="text" id="3_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32088" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 4)"/>
        <setting label=""      type="text" id="4_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32089" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 5)"/>
        <setting label=""      type="text" id="5_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32090" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 6)"/>
        <setting label=""      type="text" id="6_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32091" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 7)"/>
        <setting label=""      type="text" id="7_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32092" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 8)"/>
        <setting label=""      type="text" id="8_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32093" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 9)"/>
        <setting label=""      type="text" id="9_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32094" type="action" enable="true" option="close" action="RunScript(special://home/addons/service.vpn.manager/windowfilter.py, 10)"/>
        <setting label=""      type="text" id="10_vpn_windows" visible="!eq(0,)" enable="false" default=""/>
    </category>
    <category label="32100">		
        <setting label="32101" type="lsep"/>        
        <setting label="32102" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/managefiles.py, ovpn)"/>
        <setting label="32103" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/managefiles.py, downloads)"/>
        <setting label=""      type="bool" id="allow_vpn_generation" visible="false" enable="false" default="false"/>
        <setting label="32104" type="action" visible="eq(-1,true)" option="close" action="RunScript(special://home/addons/service.vpn.manager/managefiles.py, generate)"/>
        <setting label="32105" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/managefiles.py, user)"/>
        <setting label=""      type="lsep"/>
        <setting label="32106" type="lsep"/>        
        <setting label="32107" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/mapkey.py, cycle)"/>
        <setting label="32108" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/mapkey.py, info)"/>
        <setting label=""      type="lsep"/>
        <setting label="32109" type="lsep"/>
        <setting label="32110" type="labelenum" id="reboot_day" lvalues="32111|32112|32113|32114|32115|32116|32117|32118"/>/>
        <setting label="32119" type="time" id="reboot_time" default="02:00"/>
        <setting label="32120" type="bool" id="reboot_file_enabled" default="false"/>
        <setting label="32121" type="file" visible="!eq(-1,false)" id="reboot_file" default=""/>
        <setting label=""      type="text" id="last_boot_text" enable="false" visible="true" default="Last restart time is unknown"/>        
        <setting label=""      type="lsep"/>
        <setting label="32122" type="lsep"/>        
        <setting label="32123" type="file" id="speed_test_source" default=""/>
        <setting label="32124" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/speedtest.py)"/>
    </category>
    <category label="32140">
        <setting label="32141" type="lsep"/>
        <setting label="32142" type="bool" id="vpn_enable_debug" default="false"/>                
        <setting label="32143" type="action" action="RunScript(special://home/addons/service.vpn.manager/logpopup.py, kodi)"/>
        <setting label="32144" type="action" action="RunScript(special://home/addons/service.vpn.manager/managefiles.py, log)"/>
        <setting label=""      type="lsep"/>
        <setting label="32145" type="lsep"/>
        <setting label="32146" type="action" action="RunScript(special://home/addons/service.vpn.manager/logpopup.py, openvpn)"/>
        <setting label="32147" type="labelenum" id="openvpn_verb" lvalues="32151|32152|32153|32148|32149|32150"/>   
        <setting label=""      type="text" id="platform" enable="false" visible="false"/>       
        <setting label="32154" type="bool" id="block_outside_dns" visible="eq(-1,1)" default="true"/>
        <setting label="32155" type="labelenum" id="openvpn_sudo" visible="eq(-2,2)" lvalues="32156|32157|32158"/>
        <setting label="32159" type="bool" id="openvpn_no_path" visible="eq(-3,2)" default="false"/>
        <setting label="32160" type="bool" id="openvpn_killall" visible="eq(-4,2)|eq(-4,3)" default="false"/>
        <setting label="32161" type="bool" id="alt_pid_check" visible="eq(-5,2)" default="false"/>
        <setting label="32162" type="text" visible="eq(-6,0)" enable="false"/>
        <setting label="32163" type="bool" id="up_down_script" default="true"/>
        <setting label="32164" type="bool" id="use_default_up_down" visible="eq(-8,2)|eq(-8,3)" enable="true" default="false"/>
        <setting label="32165" type="bool" id="force_ping" visible="true" default="true"/>
        <setting label="32166" type="bool" id="openvpn_log_location" default="false"/>
        <setting label="32167" type="bool" id="fix_system_time" visible="eq(-11,1)" default="true"/>
        <setting label=""      type="lsep"/>
        <setting label="32168" type="lsep"/>
        <setting label="32169" type="bool" id="vpn_system_menu_item" default="false"/>
        <setting label="32170" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/infopopup.py, sysinfo)"/>
        <setting label="32171" type="labelenum" id="ip_info_source" lvalues="32172|32173|32174|32175"/>
        <setting label=""      type="text" id="vpn_provider_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="vpn_username_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="vpn_password_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="1_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="2_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="2_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="3_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="3_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="4_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="4_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="5_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="5_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="6_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="6_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="7_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="7_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="8_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="8_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="9_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="9_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="10_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="10_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="vpn_locations_list" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="version_number" enable="false" visible="false" default=""/>
        <setting label=""      type="bool" id="vpn_wizard_run" enable="false" visible="false" default="false"/>
        <setting label=""      type="bool" id="checked_openvpn" enable="false" visible="false" default="false"/>
        <setting label=""      type="bool" id="ran_openvpn" enable="false" visible="false" default="false"/>
        <setting label=""      type="bool" id="monitor_paused" enable="false" visible="false" default="false"/>
        <setting label=""      type="text" id="boot_time" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="boot_reason" enable="false" visible="false" default="unscheduled"/>
        <setting label=""      type="text" id="last_boot_reason" enable="false" visible="false" default="unscheduled"/>
        <setting label=""      type="bool" id="show_preboot_connect" enable="false" visible="false" default="false"/>
        <setting label=""      type="text" id="platform" enable="false" visible="false" default="0"/>
        <setting label=""      type="text" id="ip_service_values" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="ip_service_errors" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="ip_service_last_vpn" enable="false" visible="false" default=""/>
        <setting label=""      type="bool" id="location_ip_view" enable="false" visible="false" default="false"/>
        <setting label=""      type="text" id="last_connect_time" enable="false" visible="false" default=""/>
        <setting label="Disconnect" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Disconnect)"/>
        <setting label="Connect" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Connect 1)"/>
        <setting label="Cycle" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Cycle)"/>
        <setting label="Fake" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Fake)"/>
        <setting label="Real" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Real)"/>
        <setting label="Pause" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Pause)"/>
        <setting label="Restart" type="action" enable="false" visible="false" action="RunScript(special://home/addons/service.vpn.manager/api.py, Restart)"/>
    </category>
</settings>
